/*북마크*/
.container3 {
  border: none;
  height: 700px;
  width: 10%;
  margin-left: -5px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookmark {
  border: solid 5px lightskyblue;
  border-radius: 0px 10px 10px 0px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: grey;
}

.loginBookmark, .logoutBookmark{
  background-color : white;
}

.homeBookmark{
  background-color: rgba(135,206,250,50%);
}

.myBookmark{
  background-color: rgba(135,206,250,75%);
}